name: Publish package to the Maven Central Repository
on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"
    paths:
      - "pom.xml"
      - "src/**"
      - ".github/workflows/publish.yml"
  workflow_dispatch:
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
      - name: Set up version in pom.xml
        if: startsWith(github.ref, 'refs/tags/v')
        run: mvn versions:set -DnewVersion=${GITHUB_REF_NAME#v} -DgenerateBackupPoms=false
      - name: Set up Maven Central Repository
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'adopt'
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
      - name: Publish package
        run: mvn --batch-mode deploy
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
      - name: Prepare for next development iteration
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
            sed -i "s/<version>.*<\/version>/<version>${GITHUB_REF_NAME#v}<\/version>/" README.md
            mvn versions:set -DnewVersion=${GITHUB_REF_NAME#v}-SNAPSHOT -DgenerateBackupPoms=false
            git config --global user.name "github-actions[bot]"
            git config --global user.email "github-actions[bot]@users.noreply.github.com"
            git commit -am "Prepare for next development iteration"
            git push origin HEAD:main
